---
import SectionSeparator from '../components/atom/SectionSeparator.astro';
import Hero from '../components/organism/Hero.astro';
import About from '../components/organism/About.astro';
import Location from '../components/organism/Location.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rust Latam">
	<main class="bg-[#273b91]">
		<Hero />
		<SectionSeparator />
		<About></About>
		<SectionSeparator />
		<Location />
	</main>
</Layout>
