---

---
<!-- About Section -->
<section id="about" class="bg-[#273b91] text-center text-white py-40">
    <div class="mx-auto container">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 lg:max-w-3xl mx-auto text-xl gap-4 flex flex-col">
        <h2 class="uppercase font-bold font-montserrat text-4xl mb-4">About Rust Latam</h2>
        <p>Rust Latam Conference is the Latin America's leading event for and by the Rust movement, and one of Rust community's largest annual networking opportunities.</p>
        <p>Two days of conference will offer interactive sessions, hands-on activities, and engaging talks to bring together 200+ passionate advocates, developers and enthusiasts of the Rust Programming Language from around the world. People and ideas from the Rust Latin America community will leap off the screen to learn, discuss, debate and address Rust in person.</p>
        <p>Our third Rust Latam Conference is happening in Mexico City.</p>
      </div>
      <div class="col-lg-3"></div>
    </div>
</section>