---

---
<!-- Code of conduct Section -->
<section id="coc" class="mx-auto bg-[#273b91] text-center text-white py-40">
    <div class="container mx-auto">
      <div class="flex flex-col gap-2 w-full justify-center">
        <h2 class="uppercase font-bold font-montserrat text-3xl mb-10">Code of Conduct</h2>
        <p class="text-xl">Please read our <a href="/coc">code of conduct</a> for info on how Rust Latam ensures the best possible experience for everyone.</p>
      </div>
    </div>
  </section>