---
---

<header class="h-screen w-full bg-hero bg-no-repeat bg-center bg-scroll bg-cover">
    <div class="h-full w-full place-content-center grid bg-[#3455da69]">
      <div class="">
        <h1 class="font-montserrat text-shadow-hero shadow-[#273b91] text-white font-bold text-8xl">Rust Latam 2024</h1>
        <p class="text-shadow-hero shadow-[#273b91] text-white text-4xl text-center">Where Rust meets Latin America</p>
        <a href="index.html#cancel" class="">
          <i class="fa fa-arrow-down animated"></i>
        </a>
      </div>
    </div>
  </header>