---

import NavbarItem from "../molecule/NavbarItem.astro"

---

<!-- Navigation -->
<nav class="bg-[#273b91] tracking-normal py-5 mb-0 top-0 uppercase border-0 navbar fixed right-0 left-0 z-[1] w-full" role="navigation">
    <div class="container 2xl:max-w-screen-xl flex items-center mx-auto justify-between">
      <div class="flex">
        <button type="button" class="" data-toggle="collapse" data-target=".navbar-main-collapse">
          <!-- TODO: Do the hambuger menu -->
          <i class="fa fa-bars"></i>
        </button>
        <a class="h-[3.2rem] " href="/#page-top">
          <img class="logo h-full block max-w-64" src="/assets/img/logo-horizontal-white-2.svg" alt="Rust Latam 2020 Event Logo" />
        </a>
      </div>
  
      <div class="block">
        <ul class="flex gap-3 [&>li>a]:text-white">
          <NavbarItem text="About" link="#about" />
          <NavbarItem text="Location" link="#location" />
          <NavbarItem text="Tickets" link="#tickets" />
          <NavbarItem text="Sponsors" link="#our_sponsors" />
          <NavbarItem text="Schedule" link="#schedule" />
          <NavbarItem text="Workshops" link="#workshops" />
          <NavbarItem text="Contacts" link="#contact" />
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>