---
---

<!-- Tickets Section -->
<section id="tickets" class="container mx-auto bg-[#273b91] text-center text-white py-40">
    <div class="lg:max-w-3xl mx-auto text-xl gap-6 flex flex-col">
        <h2 class="uppercase font-bold font-montserrat text-4xl mb-4">Tickets</h2>
        <p class="text-xl">The ticket sale will open soon and will be an online sale only. Attendees cannot buy tickets offline or at the conference. Tickets will also be personal and will carry your name. There will be different prices; we encourage companies who pay for their employees attending the conference to actively support us ("business ticket"). However, no matter the ticket price level, everyone will enjoy the same conference content.</p>
        <p class="text-xl">We will announce the ticket sale opening on our social channels, so stay tuned!</p>
    </div>
</section>