---

---

<!-- Workshops Section -->
    <section id="workshops" class="mx-auto bg-[#273b91] text-center text-white py-40">
        <div class="mx-auto container">
        <div class="grid lg:grid-cols-2 mx-auto items-center">
          <div class="mx-auto text-center container flex flex-col gap-10">
            <h2 class="uppercase font-bold font-montserrat text-3xl mb-10">Workshops</h2>
            <p class="text-xl">Workshop will be held at the <a href="https://www.c3.unam.mx/index.html">Centro de Ciencias de la Complejidad (C3) de la Universidad Nacional Autónoma de México</a></p>
            <p class="text-xl">The schedule for workshops will be announced at a later stage.</p>
          </div>
          <div class="mx-auto">
            <iframe class="map-frame" width="512" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-99.18759584426881%2C19.308389278606285%2C-99.17727470397949%2C19.314606135368276&amp;layer=mapnik&amp;marker=19.31149773653462%2C-99.18243527412415" style="border: 1px solid black"></iframe>
            <div class="map-links">
              <a href="geo:19.31150,-99.18244?z=18" target="_blank">Native app</a>&nbsp;|&nbsp;
              <a href="https://goo.gl/maps/fTWu1q6K1XSSS6hE8" target="_blank">Google Maps</a>&nbsp;|&nbsp;
              <a href="https://www.openstreetmap.org/?mlat=19.31150&amp;mlon=-99.18244#map=18/19.31150/-99.18244" target="_blank">OpenStreetMap</a>
            </div>
          </div>
      </div>
  </section>